* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
html {
  height: 100%;
}
body {
  width: 100%;
  max-height: 100%;
  background: url(../bsimg/background-htdl.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
header img {
  width: 1.46875rem;
  height: auto;
  position: absolute;
  left: 0.859375rem;
  top: 0.234375rem;
}
header span {
  font-size: 0.15625rem;
  position: absolute;
  left: 2.5rem;
  top: 0.3515625rem;
  color: #ffffff;
}
main {
  margin-left: 6.71875rem;
  margin-top: 1.796875rem;
  width: 5.859375rem;
  height: 3.59375rem;
  background: url(../bsimg/card-htdl.png);
  background-size: 5.859375rem 3.59375rem;
}
.loginBox {
  float: right;
  width: 3.0078125rem;
  height: 3.59375rem;
  padding-left: 0.5078125rem;
}
.loginHeadline {
  font-size: 0.1640625rem;
  color: #3c3a3a;
  margin-top: 0.2734375rem;
}
.underline {
  width: 0.15625rem;
  height: 0.046875rem;
  border-radius: 0.0234375rem;
  margin-top: 0.0625rem;
  background: red;
}
.username {
  border: none;
  border-bottom: 0.015625rem solid #3c3a3a;
  padding-bottom: 0.078125rem;
  height: 0.2171875rem;
  width: 2.5390625rem;
  font-size: 0.1484375rem;
  color: #3c3a3a;
  display: block;
  margin-top: 0.703125rem;
  padding-left: 0.0390625rem;
  outline: none;
}
.password {
  display: block;
  border: none;
  border-bottom: 0.015625rem solid #3c3a3a;
  padding-bottom: 0.078125rem;
  height: 0.2171875rem;
  width: 2.5390625rem;
  font-size: 0.1484375rem;
  color: #3c3a3a;
  margin-top: 0.2734375rem;
  padding-left: 0.0390625rem;
  outline: none;
}
.loginBtn {
  float: left;
  margin-top: 0.3125rem;
  width: 2.5rem;
  height: 0.3125rem;
  color: white;
  background: #eb402f;
  font-size: 0.14625rem;
  text-align: center;
  border: none;
  border-radius: 0.0390625rem;
  cursor: pointer;
}
.loginTips {
  float: left;
  margin-top: 0.3125rem;
  font-size: 0.109375rem;
  color: #111111;
  margin-left: 1.071875rem;
}
