* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.1328125rem;
}
html {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
nav {
  background: #ffffff;
  width: 100%;
  height: 0.15625rem;
  padding: 0.1953125rem 0;
}
body {
  background: #f4f4f4;
}
main {
  background: #f4f4f4;
}
.underline {
  width: 0.2421875rem;
  height: 0.0546875rem;
  border-radius: 0.0234375rem;
  background: #6e22da;
  position: absolute;
  left: 7.884375rem;;
  top:0.45rem;
}
#exit {
  color: #6e22da;
  font-size: 0.1328125rem;
  text-decoration: none;
  position: absolute;
  left: 13.7890625rem;
}
#username {
  font-size: 0.1428125rem;
  position: absolute;
  left: 13.0078125rem;
}
#user-img {
  width: 0.1953125rem;
  height: 0.1953125rem;
  position: absolute;
  left: 12.6953125rem;
}
#nav-logo {
  width: 1.171875rem;
  height: auto;
  position: absolute;
  left: 1.1328125rem;
}
.navs {
  font-size: 0.1328125rem;
  color: black;
  text-decoration: none;
  position: absolute;
  
}
.nav1 {
  left: 5.6640625rem;
}
.nav2 {
  left: 6.71875rem;
}
.nav3 {
  left: 7.734375rem;
}
.nav4 {
  left: 8.75rem;
}
.main0 {
  width: 8.59375rem;
  height: 0rem;
  background: #f4f4f4;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.1328125rem;
  line-height: 0.390625rem;
}
.underline1 {
  display: inline-block;
  background: #6e22da;
  width: 0.0390625rem;
  height: 0.1171875rem;
}
.main1 {
  width: 8.59375rem;
  height: 2.8515625rem;
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.390625rem;
  padding-top: 0.1953125rem;
  border-radius: 0.0390625rem;
}
.main2 {
  width: 8.59375rem;
  height: 2.34375rem;
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.0390625rem;
  margin-top: 0.1953125rem;
  padding-top: 0.1953125rem;
}
.main3 {
  width: 8.59375rem;
  height: 3.3984375rem;
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.0390625rem;
  margin-top: 0.1953125rem;
  padding-top: 0.1953125rem;
}
.main4 {
  width: 8.59375rem;
  height: 2.34375rem;
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.0390625rem;
  margin-top: 0.1953125rem;
  padding-top: 0.1953125rem;
  margin-bottom: 0.3515625rem;
}
.main1 span {
  width: 100%;
  height: 0.2734375rem;
  border-bottom: 0.015625rem solid #f7f7f7;
  display: block;
  padding-left: 0.1953125rem;
  font-size: 0.1171875rem;
}
.main1 input {
  display: block;
  width: 6.7421875rem;
  height: 0.3515625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.21875rem;
  background: #f4f4f4;
  border: none;
  border: 0.0078125rem solid #d6d6d6;
  font-size: 0.1171875rem;
  color: #b8b8b8;
  border-radius: 0.0390625rem;
  padding-left: 0.1328125rem;
  padding-right: 0.15625rem;
}
select {
  display: inline-block;
  width: 1.0546875rem;
  height: 0.3515625rem;
  margin-left: 0.765625rem;
  background: #f4f4f4;
  border: none;
  border: 0.0078125rem solid #d6d6d6;
  font-size: 0.1171875rem;
  color: #7e7e7e;
  border-radius: 0.0390625rem;
  padding-left: 0.15625rem;
  float: left;
  margin-top: 0.234375rem;
}
#price {
  display: inline-block;
  width: 1.875rem;
  height: 0.3515625rem;
  margin-left: 0.15625rem;
  float: left;
  margin-top: 0.234375rem;
}
.main2H {
  width: 100%;
  height: 0.2734375rem;
  border-bottom: 0.015625rem solid #f7f7f7;
  display: block;
  padding-left: 0.1953125rem;
  font-size: 0.1171875rem;
}
label {
  float:left;
  width: 2.03125rem;
  height: 1.5625rem;
  background: #f4f4f4;
  display: inline-block;
  margin-left: 0.4296875rem;
  margin-top: 0.234375rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.0390625rem;
  font-size: 0.109375rem;
  background-size: 2.03125rem 1.5625rem;
  background-repeat: no-repeat;
  background-position: center;
}
label p {
  margin-top: 0.08071875rem;
  font-size: 0.119375rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.label1 {
  margin-left: 0.68125rem;
}
.uploadImg {
  width: 0;
  height: 0;
  text-decoration: none;
  outline: none;
}
.plus {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 0.15625rem;
  background: #6e22da;
  color: white;
  font-size: 0.3125rem;
  text-align: center;
  line-height: 0.2734375rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.390625rem;
  margin-bottom: 0;
}
.main3H {
  width: 100%;
  height: 0.2734375rem;
  border-bottom: 0.015625rem solid #f7f7f7;
  display: block;
  padding-left: 0.1953125rem;
  font-size: 0.1171875rem;
}
textarea {
  margin-left: 0.78125rem;
  margin-top: 0.1171875rem;
  width: 7.03125rem;
  height: 2.65625rem;
  max-height: 2.65625rem;
  max-width: 7.03125rem;
  font-size: 0.1328125rem;
  border-radius: 0.0390625rem;
}
.main4H {
  width: 100%;
  height: 0.2734375rem;
  border-bottom: 0.015625rem solid #f7f7f7;
  display: block;
  padding-left: 0.1953125rem;
  font-size: 0.1171875rem;
}
.footerTip {
  margin-top: 0rem;
  margin-left: 3.203125rem;
  margin-bottom: 0.2734375rem;
  float: left;
  font-size: 0.1171875rem;
}
.publishBtn {
  width: 1.484375rem;
  height: 0.3515625rem;
  font-size: 0.1171875rem;
  background: #692bb4;
  border-radius: 0.0390625rem;
  border: none;
  color: white;
  float: right;
  margin-right: 3.203125rem;
  margin-top: -0.15625rem;
  cursor: pointer;
}
b {
  position: absolute;
  left: 11.2109375rem;
  top: 1.743125rem;
  font-size: 0.1171875rem;
  color: red;
  display:none;
}
.b2 {
  top: 2.3546875rem;
}
.b3 {
  top: 2.930625rem;
}
.b4 {
  top: 3.495875rem;
}
.b5 {
  top: 6.215rem
}
.b6 {
  top: 10.0215rem
}
.b7 {
  top: 12.7515rem
}

em{
  font-size: 15px;
  color:#666666;
  position: absolute;
  left: 10.59109375rem;
  top: 1.783125rem;
}
.em2{
   top: 2.3846875rem;
}
.em3{
   top: 2.930625rem;
}
.imgchange-tip {
  display: none;
}

