<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章发布</title>
	<link rel="stylesheet" href="bscss/articleRelease.css">
	<script>
	 	(function(){
			var  html = document.documentElement;
			var htmlWidth = html.getBoundingClientRect().width;
			html.style.fontSize = htmlWidth/15 +'px';
		})()
		window.onresize=function(){
			var  html = document.documentElement;
			var htmlWidth = html.getBoundingClientRect().width;
			html.style.fontSize = htmlWidth/15 +'px';
		}
	 </script>
</head>
<body>
	<nav>
		<img id='nav-logo' src="nav/logo.png" alt="">
		<a class='navs nav1' href="summarize.html">网站概述</a>
		<a class='navs nav2' href="articleRelease.html">文章发布</a>
		<a class='navs nav3' href="productRelease.html">商品发布</a>
		<a class='navs nav4' href="">反馈管理</a>
		<img id='user-img' src="nav/管理员.png" alt="">
		<span id='username'>guanli-01</span>
		<a id='exit' href="login.html">退出</a>
		<div class='underline'></div>
	</nav>
	<main>
		<div class='main0'>
		<div class='underline1'></div>
		文章发布
		</div>
		<form action="" method="get">
			<div class='main1'>
				<span class="main1H">文章信息</span>
				<input id='headline' type="text" placeholder="文章标题"><em class='em1'>30</em><b class="b1">必填！</b>
				<input id='description' type="text" placeholder="文章简述"><em class='em2'>70</em>
				<b class="b2">	必填！</b>
				<select name="" id="">
					<option  disabled="disabled" selected="selected">选择文章类型</option>
					<option value="编辑推荐">编辑推荐</option>
					<option value="名家撰稿">名家撰稿</option>
				</select>
				<b class="b3">	必填！</b>
			</div>
			<div class='main3'>
				<span class="main3H">编辑文章</span>
				<textarea name="" id="" cols="30" rows="10">	
				</textarea>
				<b class="b4">	必填！</b>
			</div>

			<div class='main4'>
				<span class="main4H">上传文章封面</span>
				<label for="upload-img4">
					<div class='plus'>+</div>
					<input type="file" class='uploadImg' id='upload-img4'>
					<p class="img-tip">上传文章封面</p>
					<p class="img-tip">205*160px、jpg文件</p>
					<p class="imgchange-tip">修改图片</p>
				</label>
				<b class="b5">	必填！</b>
			</div>
			<span class="footerTip">未点击发布直接退出信息将不会保存</span>
			<input class='publishBtn' type="submit" value="发布">
		</form>
	</main>
	<script src='js/jquery-3.1.1.js'></script>
	<script src='bsjs/articleRelease.js'></script>
</body>
</html>