{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>溯源商城</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shutter.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">

	 <script>
	 	(function(){
			var  html = document.documentElement;
			var htmlWidth = html.getBoundingClientRect().width;
			html.style.fontSize = htmlWidth/15 +'px';

		})()
		window.onresize=function(){
			var  html = document.documentElement;
			var htmlWidth = html.getBoundingClientRect().width;
			html.style.fontSize = htmlWidth/15 +'px';
		}
	 </script>
</head>
<body>
	<nav>
		<img id='head-logo' src="{% static 'blog/nav/logo.png' %}" alt="logo">
		<a id='shop' href="{% url 'shop'%}">溯源商城</a>
		<a id='book' href="{% url 'book'%}">溯年书斋</a>
		<a id='game' href="{% url 'game'%}">溯源游戏</a>
		<a id='about' href="{% url 'about'%}">关于我们</a>
		<div id='head-underline' class='underline'></div>
		<img id='head-img1' src="{% static 'blog/nav/icon-gongzhonghao.png' %}" alt="">
		<img id='head-img2' src="{% static 'blog/nav/icon-gamedownload.png' %}" alt="">
		<div id="head-code1" >
			<img src="{% static 'blog/nav/公众号二维码.png' %}" alt="">
			<span>扫码关注公众号</span>
		</div>
		<div id="head-code2">
			<img src="{% static 'blog/nav/游戏下载二维码.png' %}" alt="">
			<span>扫码下载游戏</span>
		</div>
	</nav>
    <main>
		<div id='main0'>
            	<div class='o-sliderContainer hasShadow ' id="pbSliderWrap3">
  <div class='o-slider' id='pbSlider3'>
    <div class="o-slider--item" data-image="{% static 'blog/images/1.jpg' %}">
    </div>
    <div class="o-slider--item" data-image="{% static 'blog/images/2.jpg' %}">
    </div>
    <div class="o-slider--item" data-image="{% static 'blog/images/3.jpg' %}">
    </div>
    <div class="o-slider--item" data-image="{% static 'blog/images/4.jpg' %}">
    </div>
  </div>
</div>
		</div>
		<div id='main3'>
			<div id='main3-banner'>
                <a href="{% url 'blog:shop'  %}"><span id='main3-h1'>全部</span></a>
                <a href="{% url 'blog:archives' 0 %}"><span id='main3-h2'>礼品</span></a>
                <a href="{% url 'blog:archives' 1 %}"><span id='main3-h3'>文具</span></a>
				<a href="{% url 'blog:archives' 2 %}"><span id='main3-h4'>服饰</span></a>
				<a href="{% url 'blog:archives' 3 %}"><span id='main3-h4'>其他</span></a>
				<select id="selectID">
                    <option  value="1">最新</option>
                    <option value="2">最多赞</option>
				</select>
                <form role="search" method="get" id="searchform" action="{% url 'blog:search_shop' %}">
                    <input id='main3-input' type="search" name="q" placeholder="搜索商品" required>
                    <button id='main3-btn' type="submit" value='搜索'></button>
                </form>
			</div>
		</div>

		<div id='main2'>
			<img src="{% static 'blog/bookImg/icon-biaoqian.png' %}" alt="">
			<span id='main2-result'>"{{ q }}"相关商品&nbsp;共&nbsp;{{ num }}篇</span>
            <a href="{% url 'shop'%}"><button id='main2-btn'>取消搜索</button></a>
		</div>
		
		<div id='contain'>
    {% for product in product_list %}
		<a href="{{ product.get_absolute_url }}">
			<div class='item'>
				<div class="itemMask">
					<img class='itemImg' src="{{ product.img_src.url }}" alt="">
				</div>
				<span class='itemName'>{{ product.name }}</span>
				<span class='itemPrice'>{{ product.price }}</span>
				<p class='itemDescription'>{{ product.excerpt }}</p>
				<img class='articleLikeNumImg' src="{% static 'blog/shopImg/icon-dianzan.png' %}" alt="">
				<span class='articleLikeNum'>{{ product.like_num }}</span>
						
			</div>
		</a>
    {% endfor %}

		<div id='mask'></div>
		<div id='feedback-form'>
			<form action="/feedback/" method="post" >
                {% csrf_token %}
			<div id='close'>X</div>
			<h3>提交反馈</h3>
			<span class='required'>必填</span>
			<textarea name="content" id="feedback-content" placeholder="告诉我们您遇到的问题或者建议"></textarea>
			<span class='feedbackType'>反馈类型</span>
			<label for="feedback-radio1">网站反馈&nbsp;&nbsp;<input value="0" name='feedback-radio' id='feedback-radio1' type="radio" checked></label>
			<label for="feedback-radio2" >游戏反馈&nbsp;&nbsp;<input value="1" id='feedback-radio2' name='feedback-radio' type="radio"></label>
			<span class='optional'>选填</span>
			<input type="text" name="name" placeholder="称呼" id='feedback-name'>
			<input type="text" name="contact" placeholder="邮箱" id='feedback-email'>
			<input type="submit" id='feedback-submit' value="提交">
			</form>
		</div>
	</main>
	<aside>
		<div id='feedback'>反馈</div>
		<div id='backup'></div>
	</aside>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src='{% static 'blog/js/shop.js' %}'></script>
    <script src='{% static 'blog/js/hammer.min.js' %}'></script>
    <script src='{% static 'blog/js/slider.js' %}'></script>
	<script>
		$('#pbSlider3').pbTouchSlider({
		slider_Wrap: '#pbSliderWrap3',
		slider_Threshold: 50 ,
		slider_Speed:400 ,
		slider_Ease:'linear',
		slider_Breakpoints: {
		    default: {
		        height: 520
		    },
		    tablet: {
		        height: 300,
		        media: 1024
		    },
		    smartphone: {
		        height: 200,
		        media: 768
		    }
		}
		});
		</script>
</body>
</html>